<h1>Data-Driven Web</h1>
<p>Ik ben dus {{ person.name }}</p>

<p>Ververs de tekst:  {{ "now" | date: "%H:%M %d-%m-%Y" }}</p>
<p>Mijn geboorte datum is op {{"2000-09-18" | date: "%d-%m-%Y"}}</p>
<p>Mijn geboortedatum is: {{ person.birthdate | date: "%d-%m-%Y" }}</p>

<p>Recente gespeelde game: {{ custom.recentegespeeldegame }}</p>
<p>Recente activiteit: {{ custom.recenteactiviteit }}</p>
<p>Favo boeken serie: {{ custom.favorieteboekenserie }}</p>